.main-container  {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;

   
    
}
.main-container header {
    display: flex;
     align-items: center; 
}
.main-container header img {
    width: 130px;
    height: 100px; 
}
.main-container header h3 {
   margin-left: 20px;
}
.main-container header .main-btn {
   margin-left: auto;
   background: #440297;
   padding: 10px;
   color: #fff;
   font-weight: bold;
   font-size: 15px;
   border-radius: 5px;
   
}

.main-container header .img-main {
    height: 55px;
}

header .main-btn:hover {
    background: #5b04c7;
}

.main-container header .power {
   margin-left: 10px;  
   padding: 3px; 
   width: 35px;
   height: 35px;
   border: 0;
   border-radius: 5px; 
   cursor: pointer;
}

.main-container header .power:hover {
    color: #a8616d;
    border: 1px solid #c5c5c5;
}

.main-container h2 {
    margin-top: 30px;
    font-weight: bold;
    margin-bottom: 20px;
}

.main-container ul {
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 20px;
   
    
}
.main-container ul li { 
    background: #fff;
    list-style: none;
    padding: 5px;
    border-radius: 8px;
    position: relative; 
}
.main-container ul li button {
   position: absolute; 
   right: 24px;
   top: 24px;
   border: 0;
   background: #fff; 
   cursor: pointer;
   padding: 5px;
}

.main-container ul li button:hover {
    color: #a8616d;
    border: 1px solid #efefef;    
}

.main-container ul li p {
   margin-bottom: 15px;
   font-size: 15px;
   color: #5c5b5b;  
}

.main-container p {
    text-align: justify;
}

.case-content-group + .case-content-group {
    margin-top: 8px;
}

.add-image {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding: 4px; 
    border-radius: 5px;
    font-weight: bold;
    font-size: 12px;
    background: #7b35d1;
    margin-bottom: auto;
}

.add-image:hover {
    border: 1px solid #7b35d1;
    background: #fff ; 
    color: #7b35d1;
}
.img-hero {
    width: 230px;
    height: 230px;
}

.case-content {
    display: flex;
    flex-direction: row;
}

.case-content1 {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between; 
}

.group2 {
    margin-top: 25px;
}
 .span-add-image {
     margin-left: auto;
 }
 

